body {
    
    background-image: url("images/arches.png");
    background-color: #fc7f2bc2;
    
    font: normal 16pt arial;
    color: rgb(6, 124, 124);
    margin-left: 77px;
    margin-right: 30px;

    /* This is how to make COMMENTS in CSS. (Just like multiple lines in JS) */
}

h1 {
    
    background-color: rgba(0, 60, 255, 0.445);
    color: floralwhite;
    padding: 20px;
    border-radius: 50px;
}

p {
    margin-left: 50px;
}

code {
    background-color: rgb(172, 253, 226);
}

.first-code {
            border-width: 3px;
            border-style: solid;
            border-color: aqua;
            border-radius: 20px;
            padding: 5 0pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 1%;
            margin-right: 1%;
            background-color: rgba(3, 134, 241, 0.493);
            color: rgb(255, 255, 255);
}

.morecode {
    margin-bottom: 200px;


}



