
body {
    background-image: url("images/arches.png");
    background-color: #fc7f2bc2;
    font: normal 16pt arial;
    color: rgb(6, 124, 124);
    margin: 0%;

    /* This is how to make COMMENTS in CSS. (Just like multiple lines in JS) */
}

.hello {
    
    background-color: rgb(201, 120, 255);
    color: floralwhite;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    margin: auto;
    
}

header {
    margin: 0px 0px 3em 0px;
    padding: 1%;
    background-color: rgba(255, 250, 240, 0.199);
    box-shadow: -13px 13px 20px 5px rgba(0, 0, 0, 0.726);
    text-align: center;
}

main {
    margin-left: 2%;
    margin-right: 2%;
}

.pause {
    text-align: start;
    box-shadow: -13px 13px 20px 5px rgba(0, 0, 0, 0.726);
    padding: 30px;
    font-size: 1.2em;
}


p {
    margin-left: 50px;
}

code {
    background-color: rgb(172, 253, 226);
}

.first-code {
            border-width: 3px;
            border-style: solid;
            border-color: aqua;
            border-radius: 20px;
            padding: 5 0pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 1%;
            margin-right: 1%;
            background-color: rgba(3, 134, 241, 0.493);
            color: rgb(255, 255, 255);
}

.morecode {
    margin-bottom: 200px;
}



